body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    dosis-medium; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: dosis-medium;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-seleccionado{
  color:#ee833b !important
}


.imgfondo{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/public/assets/img/indexweb1.jpeg);
  /* background: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(/public/assets/img/index1a.jpeg); */
  background-size: cover;
  background-position: center;  
}

.tittle-moya{
  width: 50%;
  position: absolute;
  top:111%;
  left: 5%;
  /* background-color: aquamarine; */
}
/* @media only screen and (max-width: 280px) {
  .tittle-moya{
    position: absolute;
    bottom:-50%;
    
  }
}
@media only screen and (max-width: 820px) {
  .tittle-moya{
    position: absolute;
    bottom:-50%;
    
  }
} */

.contacts-form{
  width: 60%;
}

.index-pp-info{
  display: none !important;
}
.index-pp-visit{
  display: none !important;

}


@media only screen and (max-width: 820px) {
  .index-pg-info{
    display: none !important;
  }
  .index-pg-visit{
    display: none !important;
  }

  .index-pp-info{
    display: flex !important;
  }

  .index-pp-visit{
    display: flex !important;
  }

  .tittle-moya{
    width: 55%;
    
    top:40%;
    left: 20%;
  }

  .contacts-form{
    width: 100%;
  }
}

.centradomoya1{
  color: #ffff;
  text-align: justify;
  width: 50%;  
  font-size: 1.5rem; 
  position: absolute;
  top: 140%;
  right: 45%;
  padding-left: 0%;
  padding-right: 10%;
  font-family:dosis-medium;
}
@media only screen and (max-width: 800px) {
  .centradomoya1{
    font-size: 12px;
    top: 80%;
    right: 45%;
    font-family:dosis-medium;
  }
}


.centradomoya2{
  color: #ffff;
  text-align: justify;
  width: 50%;  
  font-size: 1.5rem; 
  position: absolute;
  top: 112%;
  left: 50%;
  padding-left: 4%;
  padding-right: 5%;
  font-family:dosis-medium;
}
@media only screen and (max-width: 800px) {
  .centradomoya2{
    font-size: 12px;
    top: 40%;
    right: 45%;
    font-family:dosis-medium;

  }
}

a:hover.selection-word{
  color:#ee833b !important
}

.paquetedia1{
    position: relative;
    top: -70px; /* ajustar los valores para mover la imagen */
    left: -5px;    
    display: block;
}
@media only screen and (max-width: 800px) {
  .paquetedia1{
    font-size: 12px;
    top: 50%;
    right: 45%;
    font-family:dosis-medium;
  }
}

.iconopago{
    position: relative;
    top: -80px; /* ajustar los valores para mover la imagen */
    left: -5px;    
    display: block;
}


.image-visit{
    background-color: #ffff;
   
}
.image-visit img{
  width: 100%;
  max-width: 420px;
  padding-left: 10%;
  display: block;
  margin: auto;
  
  
}

.pack-moya{
    background-color: #ffff;
   
}
.pack-moya img{
  width: 100%;
  max-width: 420px;
  padding-left: 10%;
  display: block;
  margin: auto;
}

.pack-moya1{
    background-color: #ffff;
   
}
.pack-moya1 img{
  width: 100%;
  max-width: 420px;
  padding-left: 10%;
  display: block;
  margin: auto;
}

.image-visit1{
    background-color: #ffff;
   
}
.image-visit1 img{
  width: 100%;
  max-width: 420px;
  padding-left: 10%;
  display: block;
  margin: auto;
}

.icon-visit{
  background-color: #ffff;
 
}
.icon-visit img{
width: 60%;
max-width: 420px;
padding-left: 10%;
display: block;
  margin: auto;
}

.icon-visit1{
  background-color: #ffff;
 
}
.icon-visit1 img{
width: 55%;
max-width: 420px;
padding-left: 10%;
display: block;
  margin: auto;
}

.icon-page{
  background-color: #ffff;
}

.icon-page img{
  width: 30%;
  padding-top: 10vh;
  padding-bottom: 2%;
  max-width: 420px;
  position:relative; 
  left: 55%;
  

}

.text-page{
  background-color: #ffff;
  padding-top: 18%;
  position:relative; 
  right: 15%;
}

.paquetemoya{
  position: relative;
  top: -70px; /* ajustar los valores para mover la imagen */
  left: -5px;    
  display: block;
}
@media only screen and (max-width: 800px) {
.paquetemoya{
  font-size: 12px;
  top: 50%;
  right: 45%;
  font-family:dosis-medium;
}
}

@font-face {
  font-family:dosis-light ;
  src: url(../public/assets/fonts/DOSIS-LIGHT.TTF) format('truetype');
}
@font-face {
  font-family:dosis-medium ;
  src: url(../public/assets/fonts/DOSIS-MEDIUM.TTF) format('truetype');
}
@font-face {
  font-family:dosis-bold ;
  src: url(../public/assets/fonts/DOSIS-BOLD.TTF) format('truetype');
}
@font-face {
  font-family:dosis-extra-bold ;
  src: url(../public/assets/fonts/DOSIS-EXTRABOLD_[ALLFONT.ES].TTF) format('truetype');
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< GASTRO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.imgfondogastro{
  width: 100%;
  height: 70vh;
  display: flex;
  background: url(/public/assets/img/gastro2.jpeg);
  /* background: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(/public/assets/img/gastro2.jpeg); */
  background-size: cover;
  background-position: center;  
}

.textgastro{
  color: #ffff;
  text-align: justify;
  font-size: 2rem;
  font-family:dosis-medium;
  padding-top: 10%;
}

.textgastro1{
  color: #ffff;
  text-align: center;
  font-size: 2.8rem;
  font-family:dosis-medium;
  padding-bottom: 10%;
}

.descargamenu{
  width: 50%;
  height: auto;
  padding-top: 8%;
  padding-bottom: 5%;
}

.comidas{
  font-size: 1.5rem;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.comidasingles{
  font-size: 1.4rem;
  color: #ad452d;
  padding-left: 10%;
  padding-right: 10%;
}